@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap");
html {
  margin: 0;
  padding: 0;
}
* {
  font-family: "Roboto Condensed", sans-serif;
}
.btn-primary {
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  background: linear-gradient(
    45deg,
    rgba(9, 26, 26, 0.5),
    rgba(255, 0, 0, 0.966)
  );
  padding: 12px 38px;
  border-radius: 30px;
  border: none;
}
.btn-primary:hover {
  background: linear-gradient(
    45deg,
    rgba(255, 0, 0, 0.966),
    rgba(9, 26, 26, 0.5)
  );
}

body {
  text-align: center;
  padding: 0;
  margin: 0;
  height: 100vh;
}

/* navbar */
.logo {
  font-size: 3rem;
  background: linear-gradient(
    45deg,
    rgba(255, 0, 0, 0.993),
    rgba(9, 26, 26, 0.466)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
  margin: 10px;

  text-shadow: 0 2px 1px #c55e2e, -1px 3px 1px #0c2704, -2px 5px 1px #9c2602d0;
}
navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.overlay {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(19, 10, 10, 0.596),
      rgba(252, 251, 251, 0.562)
    ),
    url("https://cdn.mos.cms.futurecdn.net/ZxVupd6yZexhbPEPCcbujU.jpg");
  position: fixed;
}
.nav-btn {
  color: white;
  background: linear-gradient(
    45deg,
    rgba(255, 0, 0, 0.966),
    rgba(9, 26, 26, 0.5)
  );
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
}
.nav-btn:disabled {
  background: linear-gradient(
    45deg,
    rgba(22, 10, 10, 0.966),
    rgba(236, 80, 7, 0.5)
  );
}

/* AUTH */
.auth {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin-top: 10px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
}
.auth > h2,
p {
  color: grey;
}
.authclose {
  float: right;
  border: none;
  background-color: white;
  font-size: 20px;
  font-weight: bolder;
}
.submitbtn {
  color: white;
  background: linear-gradient(
    45deg,
    rgba(255, 0, 0, 0.966),
    rgba(9, 26, 26, 0.5)
  );
  border: none;
  font-size: 17px;
  padding: 8px 12px;
  border-radius: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.submitbtn:hover {
  background: linear-gradient(45deg, rgb(255, 0, 0), rgba(9, 26, 26, 0.582));
}
.formauth {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#email {
  padding: 10px 25px;
  margin: 5px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid grey;
}
#password {
  padding: 10px 25px;
  margin: 5px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid grey;
}
#confirmpass {
  padding: 10px 25px;
  margin: 5px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid grey;
}
.getapp {
  color: blue;
  /* background: linear-gradient(45deg,rgba(23, 7, 241, 0.918),rgba(226, 29, 3, 0.699)); */
  background-color: rgba(0, 0, 0, 0.822);
  border: none;
  font-size: 17px;
  padding: 8px 20px;
  border-radius: 10px;
  margin: 40px;
  text-transform: uppercase;
}
.getapp:hover {
  background-color: black;
}
.hometitle {
  font-size: 90px;
  color: white;
  top: 0;
}

/* onboarding page */

.onboarding form {
display: flex;
justify-content:center;
width: 100%;
font-weight: bold;
}

.onboarding form section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 40%;
}

.onboarding form input{
  padding: 15px 30px;
  margin: 4px 4px;
  border: 1px solid rgba(0, 0, 0, 0.788);
  border-radius: 10px;
}
.multiple_input{
  display: flex;
  justify-content:center;
  align-items: center;
}
.multiple_input label{
  border: 1px solid grey;
  padding:10px 10px;
  border-radius: 10px;

}
.onboarding form input[type="radio"]{
  display: none;
}
.onboarding form input[type="radio"]:checked + label {
  border:1px solid red;
}
.onboarding form label {
  margin :0px 10px;
}
.onboarding form input[type="submit"]{
  font-weight: bolder;
  font-size: 20px;
  text-transform: uppercase;
  background-color: white;
  transition:all .3s;
  
}

.onboarding form input[type="submit"]:hover{
  filter: invert(1);
  
}
.onboarding form input[type="number"]{
width: 10%;
  
}
.onboarding-heading{
  font-size: 30px;
  padding:0px;
}
.photo_container img{
height: 57vh;
width: 35vw;
border-radius: 10px;
padding: 5px;
}
.dashboard{
  display: flex;
  justify-content: space-between;
  
}
.swiper_container{
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  height: 100vh;
}
.chat{
  width: 30vw;
  height: 100vh;

}
.card_container{
  width: 40%;
  height: 60%;
  
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30); 
  border-radius: 25px; 

} 
.card_container img{
  width: 300px;
  height: 400px;
  border-radius: 25px; 

}
.getmatch{
  position: relative;
  top: 5%;
  width: 35%;
  display: flex; 
  justify-content: space-between;
}
#like,#dislike{
  padding:10px 25px;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 10px;
  border:none;
  background: linear-gradient(
    45deg,
    rgba(255, 0, 0, 0.966),
    rgba(9, 26, 26, 0.5)
  );
color:white;

  transition: all .3s;
}
#dislike:hover {
  background: linear-gradient(
    45deg,
    rgba(9, 26, 26, 0.575),
    rgba(255, 0, 0, 0.877)
  );
}
#like:hover {
  background: linear-gradient(
    45deg,
    rgba(9, 26, 26, 0.575),
    rgba(255, 0, 0, 0.877)
  );
}
.chat-container{
  background-color: pink;
width: 30vw;
}
.username{
  display: flex;
  justify-content: center;
  align-items: center;
height: 20vh;
font-size: 3rem;
background: linear-gradient(45deg, rgb(255, 0, 0), rgba(9, 26, 26, 0.582));
color: white;
}
.optionchat{
  padding:10px 25px;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 10px;
  margin: .5rem;
color:white;
  border:none;
  background: linear-gradient(
    45deg,
    rgba(255, 0, 0, 0.966),
    rgba(9, 26, 26, 0.5)
  );
}